<include file="Public/header" />
<include file="Public/content" />

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新闻管理</strong> / <small>添加</small></div>
    </div>
    <hr/>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
      </div>

      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal" method="post" action="{:U('add')}" enctype="multipart/form-data">

         <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">序号 / Order</label>
            <div class="am-u-sm-9">
              <input type="text" id="user-name" placeholder="" name="order">
             
            </div>
          </div>
       
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">标题 / Title</label>
            <div class="am-u-sm-9">
              <input type="text" id="new-title" placeholder="" name="new_title">
             
            </div>
          </div>

            <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">头部 / Html </label>
            <div class="am-u-sm-9">
              <textarea  name="header" id="header" cols="30" rows="10" style="width: 600px;height: 200px"></textarea>
             
            </div>
          </div>

          <div class="am-form-group" style="border: 1px ">
            <label for="user-email" class="am-u-sm-3 am-form-label">底部 / Html </label>
            <div class="am-u-sm-9">
              <textarea  name="footer" id="nav_footer" cols="30" rows="10"  style="width: 600px;height: 200px"></textarea>
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">封面图(彩色) / Pic</label>
            <div class="am-u-sm-9">
              <input type="file" id="new-pic" name="new_pic" >
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">封面图(灰色) / Pic</label>
            <div class="am-u-sm-9">
              <input type="file" id="new-pic" name="new_gpic" >
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">新闻简介 / Intro </label>
            <div class="am-u-sm-9">
              <textarea  name="new_intro" id="header" cols="30" rows="10" style="width: 600px;height: 150px"></textarea>
             
            </div>
          </div>
            
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">内容 / Content</label>
            <div class="am-u-sm-9">
              <!--<input type="text" id="user-phone" placeholder="">-->
              <textarea  name="new_content" id="intro_detail" cols="30" rows="10"></textarea>
            </div>

          </div>
          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="submit" class="am-btn am-btn-primary">保存修改</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<include file="Public/footer" />


